@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@602&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFF;
}

body {
  background-image: url("./images/background.png");
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 101px;
  font-size: 100px;
}

.subtitulo {
  margin-top: 101px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-size: 50px;
}

.planetas {
  margin-top: 101px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}